@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-content: linear-gradient(120deg, rgb(20, 50, 50) 5%, rgb(15, 43, 43) 10%, rgba(16, 20, 18, 1) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-content);
  background-repeat: no-repeat;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif, Helvetica, Arial;
}

body::-webkit-scrollbar {
  width: 0.75em;
  outline: none;
}

body::-webkit-scrollbar-track {
  background: rgb(20, 50, 50);
}

body::-webkit-scrollbar-thumb {
  background: rgb(24, 72, 72);
  border-radius: 100vw;
}

body::-webkit-scrollbar-thumb:hover {
  background: #434969;
}